@define-color foreground #38ef7d;
@define-color background rgba(27,4,29, 0.85);

* {
    border: none;
    border-radius: 0px;
    font-family: 'TerminessNerdFont','monospace';
    font-size: 12px;
    min-height: 8px;
}

window#waybar {
    /*background: rgba(21, 18, 27, 0);*/
    background: @background;
    /*background-color: #052E44;*/
}

#cpu,
#clock,
#clock.time,
#clock.date,
#custom-clock,
#memory,
#temperature,
#tray,
#custom-dunst,
#custom-idle,
#custom-mic,
#battery,
#network,
#window,
#workspaces,
#pulseaudio,
#backlight,
#disk,
#custom-control-center,
#network {
    margin: 2px 0px;
    padding: 4px 4px;
    opacity: 1;
}

tooltip {
    /*background: @tool-bg;*/
    /*color: @tool-color;*/
    background: black;
    border-radius: 22px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    /*border-radius: 9px;*/
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: @foreground;
}

#workspaces button.active {
    color: @foreground;
    border-bottom: 1px solid @foreground;
}

#workspaces {
    /*background-color: #082C6C;*/
    background: none;
    padding: 0px 10px 0px 0px;
    border-radius: 0px 6px 20px 0px;
}

#window {
    /*background-color: #082C6C;*/
    background: none;
    border-radius: 20px 0px 0px 6px;
    color: #38ef7d;
}

#tray {
    padding: 0px 0px 0px 14px;
    /*background-color: #405253;*/
    background: none;
    border-radius: 20px 0px 0px 6px;
    color: @foreground;
}

#custom-idle {
    /*background-color: #405253;*/
    background: none;
    padding: 0px 0px 0px 10px;
    color: @foreground;
}

#custom-mic {
    /*background-color: #405253;*/
    background: none;
    padding: 0px 0px 0px 10px;
    color: @foreground;
}

#custom-dunst {
    /*background-color: #405253;*/
    background: none;
    padding: 0px 20px 0px 10px;
    color: @foreground;
    border-radius: 0px 6px 20px 0px;
}

#pulseaudio {
    /*background-color: #405253;*/
    background: none;
    border-radius: 0px 6px 20px 0px;
    color: @foreground;
}

#cpu {
    /*background-color: #286076;*/
    background: none;
    color: @foreground;
    padding: 0px 0px 0px 14px;
    border-radius: 20px 0px 0px 6px;
}

#clock, #custom-clock {
    /*background-color: #286076;*/
    background: none;
    color: @foreground;
}

#clock.date {
    padding-right: 0px;
}

#clock.time, #custom-clock {
    border-radius: 0px 6px 20px 0px;
    padding: 0px 14px 0px 0px;
}

#memory {
    /*background-color: #286076;*/
    background: none;
    color: @foreground;
    border-radius: 0px 0px 0px 0px;
}

#temperature {
    /*background-color: #286076;*/
    background: none;
    color: @foreground;
    border-radius: 0px 6px 20px 0px;
}

#temperature.critical {
    color: #ff0000;
}

#backlight {
    /*background-color: #052E44;*/
    background: none;
    border-radius: 20px 0px 0px 6px;
    color: #D6CC99;
}

#disk {
    /*background-color: #052E44;*/
    background: none;
    border-radius: 20px 6px 20px 6px;
    padding: 0px 14px 0px 14px;
    color: @foreground;
}

#battery {
    /*background-color: #5E2A7C;*/
    background: none;
    border-radius: 20px 0px 0px 6px;
    color: #FDE6D5;
}

#network {
    border-radius: 20px 6px 20px 6px;
    padding: 0px 14px 0px 14px;
    /*background-color: #5E2A7C;*/
    background: none;
    color: @foreground;
}

#network * {
    padding: 4px;
}


#custom-control-center {
    /*background-color: #C53C2C;*/
    background: none;
    border-radius: 20px 6px 20px 6px;
    color: @foreground;
}
