layout {
    focus-ring {
        active-gradient from="#D699B6" to="#7FBBB3" angle=-45 in="oklch"   // relative-to="workspace-view"
        inactive-gradient from="#3A464C" to="#5C6A72" angle=45 // relative-to="workspace-view"
    }
    shadow {
        color "#333C43"
    }
}
