include "input.kdl"
include "layout.kdl"
include "colors.kdl"
include "misc.kdl"
include "bindings-desktop.kdl"
include "window-rules.kdl"

output "DP-1" {
    // off
    mode "3440x1440@143.923"
    // mode custom=true "2560x1440@143.923"
    scale 1
    transform "normal"
    position x=0 y=0

    variable-refresh-rate
    focus-at-startup
}
output "DP-2" {
    // off
    mode "2560x1440@144.000"
    scale 1
    transform "90"
    position x=3440 y=-720

    variable-refresh-rate

    layout{
        empty-workspace-above-first
    }
}

workspace "one" {
    open-on-output "DP-1"
}
workspace "two" {
    open-on-output "DP-1"
}
workspace "three" {
    open-on-output "DP-1"
}
workspace "four" {
    open-on-output "DP-1"
}
workspace "five" {
    open-on-output "DP-1"
}
workspace "gaming" {
    open-on-output "DP-1"
}

workspace "media"{
    open-on-output "DP-2"
}
workspace "coms"{
    open-on-output "DP-2"
}
workspace "startup" {
    open-on-output "DP-2"
}

// autostart
spawn-at-startup "waybar"
spawn-sh-at-startup "sh $HOME/.scripts/mute.sh -s"
spawn-sh-at-startup "sh $XDG_CONFIG_HOME/niri/scripts/idle.sh"
spawn-sh-at-startup "sh $XDG_CONFIG_HOME/niri/scripts/lock.sh"
spawn-sh-at-startup "awww-daemon"

spawn-sh-at-startup "easyeffects --gapplication-service"
spawn-sh-at-startup "proton-pass"
spawn-sh-at-startup "obsidian"

spawn-sh-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'" // for GTK4 apps

spawn-sh-at-startup "niriusd"

