include "input.kdl"
include "layout.kdl"
include "colors.kdl"
include "misc.kdl"
include "bindings.kdl"
include "window-rules.kdl"

output "Virtual-1" {
    mode "3440x1440@74.999"
    scale 1
    transform "normal"
    position x=0 y=0
}

// output "Virtual-1" {
//     mode "1920x1200"
//     scale 1
//     transform "normal"
//     position x=0 y=0
// }

binds {
    Mod+Ctrl+W { spawn-sh "niri msg output Virtual-1 scale 2"; }
    Mod+Ctrl+S { spawn-sh "niri msg output Virtual-1 scale 1"; }
}

// autostart
spawn-at-startup "waybar"
spawn-sh-at-startup "sh $XDG_CONFIG_HOME/niri/scripts/idle.sh"
spawn-sh-at-startup "sh $XDG_CONFIG_HOME/niri/scripts/lock.sh"
spawn-sh-at-startup "wbg ~/Pictures/background.png"

spawn-sh-at-startup "obsidian"
spawn-sh-at-startup "spice-vdagent"

spawn-sh-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'" // for GTK4 apps
